body{
	background-image: url('../img/fondoNY.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.navMenu{
	background: rgba(2, 106, 167, 0.4);
}
.iconTrello{
	border-radius: 4px;
	background: rgba(240, 240, 240, 0.4);
}
.iconTrello p {
	font-size: 15px;
	margin-top: 12px;
	padding: 8px;
}
.iconTrello p i{

}
.inputSearch{
	border: none;
	margin-top: 12px;
	background: rgba(240, 240, 240, 0.4);
}
.colMargenes{
	padding-left: 5px;
	padding-right: 0px;
}
.imgLogo{
	width: 120px;
	display: block;
	margin: auto;
	margin-top: 13px;
}
.btnIcon{
	width: 40px;
	margin-top: 13px;
	background: rgba(240, 240, 240, 0.4);
	float: right;
	margin-right: 10px;
}
.avatar{
	border-radius: 100px;
}
.spanAvatar{
	margin-left: -2px;
}
.titleBoard{
	font-size: 18px;
	font-weight: 500;
	margin-top: 20px;
	color: #ffffff;
}
.btnIconNav{
	background: transparent;
	color: #ffffff;
	margin-top: 12px;
}
.btnIconNav:hover{
	background: rgba(240, 240, 240, 0.4);
}
.btnAddList{
	background: transparent;
	color: #ffffff;
	margin-top: 20px;
	padding: 10px;
	/*width: 400px;*/
}
.btnAddList:hover{
	background: rgba(240, 240, 240, 0.4);
}
.contAddList{
	background: rgba(240, 240, 240, 0.4);
	border-radius: 5px;
}
.btnCloseList{
	background: transparent;
	color: #666666;
}
.btnNewListIcon{
	margin-top: -7px;
	background: transparent;
}
.btnNewListIcon:hover{
	background: rgba(240, 240, 240, 0.4);
}

.contNewList{
	border-radius: 5px;
	background: rgba(2, 106, 167, 0.5);

}
.btnNewList{
	background: rgba(240, 240, 240, 0.4);
	color: #ffffff;
}
.displayNone{
	display: none;
}
.displayBlock{
	display: block;
}

.textAreaStyle{
	background: #ffffff;
	color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	margin-top: 15px;
	background: rgba(240, 240, 240, 0.6);
}